/* You can add global styles to this file, and also import other style files */

@import "~nes.css/css/nes.css";

div.error {
  font-weight: 500;
  color: red;
}

body {
  background-color:#212529;
  color: white;
}
